@import '../../styles/variables';

.footer {
	padding-top: 36px;
	padding-bottom: 36px;
	p {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 12px;
		font: 300 16px $fontN;

		a {
			color: black;
			display: inline-flex;
			align-items: center;
			gap: 6px;
		}
	}

	@media screen and (min-width: 768px) {
		p {
			flex-direction: row;
			gap: 32px;
		}
	}
}