.header {
    display: flex;
    justify-content: space-between;

    .container {
        width: 100%;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    h1 {
        display: flex;
        align-items: center;
        gap: 16px;
        font: 700 36px 'Nunito', sans-serif;
    }
} 