body {
    font-family: sans-serif;
    padding: 2rem;
}

span {
    width: 200px;
    vertical-align: top;
}

svg {
    display: inline-block;
    height: 200px;
    padding-top: 20px;
}

#squareID,
#rectangleID {
    margin-left: -125px;
}