.input__select label {
  display: block;
  font: 600 16px 'Nunito', sans-serif;
  padding-bottom: 8px;
}
.input__select select {
  font: 300 16px 'Nunito', sans-serif;
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid darkgray;
}
