@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaooCP.ttf) format('truetype');
}
@font-face {
  font-family: "Aqua";
  src: url(aqua.ttf);
}
body {
  margin: 0;
  background-color: #f0f0f0;
  background-image: url('pattern-1.webp');
  background-size: cover;
  background-attachment: fixed;
}
.header--effect {
  background-image: linear-gradient(to right, transparent, #C2C5D6);
}
.header--effect h1 {
  font-family: 'Aqua', sans-serif;
}
.blog__post {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(3px);
}
h2 {
  padding-top: 25px;
  font: 400 36px 'Aqua', sans-serif;
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  h2 {
    font: 400 46px 'Aqua', sans-serif;
  }
}
img {
  padding-bottom: 15px;
  padding-right: 15px;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.5), hsla(190, 25%, 18%, 0.5));
  backdrop-filter: blur(15px);
  background-position: left 15px top 15px;
  margin-bottom: 30px;
}
p {
  font: 400 16px/25px 'Raleway', sans-serif;
}
a {
  color: #A75026;
  text-decoration: none;
}
a:hover {
  color: hsl(23, 68%, 59%);
}
