.header {
	padding-top: 16px;
	padding-bottom: 16px;
	background-color: whitesmoke;
	border-bottom: 4px solid #FF9256;

	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.hamburguer {
			&:hover {
				cursor: pointer;
			}
		}
	}
}