@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Shadows+Into+Light+Two&family=Special+Elite&display=swap');

body {
    padding: 1 rem;
}

main {
    margin: 0 auto;
    max-width: 600px;
    border: 1px dashed coral;
}

.icon {
    width: 35px;
}


.post-text {
    font-family: 'Special Elite', monospace;
    padding: 0 1rem;
}

.post-text p {
    text-indent: 1rem;
    text-align: justify;
}

aside header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
aside p {
    font-size: 0.9rem;
}

h3 {
    margin: 0;
    text-transform: uppercase;
}

.dream {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding-right: 1rem;
}

.quest {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding-right: 1rem;
}

aside:hover .icon {
    transform: translateY(-3px);
}
