.global-tab-navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2px;
    row-gap: 2px;
}
.global-tab-navigation button {
    width: 100%;
    padding: 5px;
}

.log-navigation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2px;
    row-gap: 2px;
    margin: 1rem auto;
}
.log-navigation button {
    width: 100%;
    padding: 5px;
    background-color: lightpink;
}
    .log-navigation button:hover {
        filter: brightness(120%);
    }
