:root {
    
    /* pallete */
    --textMain: #000000;
    --textSecondary: #ffffff;
    
    --colorPrimary: #1CA2E2;
    --colorSecondary: #6596BB;
    --colorPrimaryShade: #00295C;

    --colorBackground: #ffffff;

    /* visual effects */
    --lineBasic: 4px solid rgba(0,0,0,0.1);
    --linePrimary: 4px solid rgba(28,162,226,0.5);
}

/**
 * PALLETE based on
 * https://mycolor.space/?hex=%231CA2E2&sub=1
 */