@font-face {
  font-family: "Aqua";
  src: url(aqua.ttf);
}
body {
  background-image: url('https://images.unsplash.com/photo-1533738363-b7f9aef128ce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80');
  background-color: #0f0d02;
  background-blend-mode: multiply;
  color: whitesmoke;
  font-family: 'Aqua', sans-serif;
}
img {
  box-sizing: border-box;
  padding-right: 15px;
  padding-bottom: 15px;
  background-image: linear-gradient(rgba(237, 216, 49, 0.5), rgba(218, 136, 24, 0.8));
  background-position: top 15px left 15px;
  background-repeat: no-repeat;
}
a {
  color: #EDD831;
  text-decoration: none;
}
a:hover {
  color: #DA8818;
}
