.page__welcome {
    .welcome__title {
        margin: 50px 0 10px 0;
        text-align: center;
    }
}

.page__skill {
    padding: 50px 0 25px;

    .skill__name {
        text-align: center;
    }

    .skill__status--wrapper {
        .skill__status__name {
            text-align: center;
        }
    }
}