.header-minibar {
    display: grid;
    grid-template-columns: 1fr 3fr 6fr 2fr;
    column-gap: 3px;
    align-items: center;
    padding-top: 0.5rem;
}

figure.minibar-char-icon {
    margin: 0.2rem;
    text-align: center;
}
.minibar-char-icon .fa-user{
    font-size: 20px;
}

.minibar-char-name {
    text-transform: uppercase;
}

.minibar-incomplete {
    border: dotted 1px dimgray;
}

.minibar-char-level {
    text-align: right;
}