.character-sheet {

}

/* PROFILE */
    /* container for the photo + a container of descriptions */
.character-sheet-profile {
    display: grid;
    grid-template-columns: 2fr 3fr;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.character-sheet-profile--photo {
    border: double 6px dimgrey;
    border-radius: 10px;
    padding: 0.5rem;
    margin: 0 auto;
}
.fa-user { /* icon */
    font-size: 85px;
}

.character-sheet-profile--desc {
    display: flex;
    flex-direction: column;
}
.character-header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 10px;
    align-items: end;

    text-transform: uppercase;
}
.character-header h3, .character-header h2, .character-header h4 {
    margin: 0;
}
.character-traditions {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 80px;
}
.character-traditions p {
    margin: 0;
    padding: 1px;
    font-size: 12px;
}

/* TRAITS */
.character-sheet-traits {
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.character-sheet-traits .profilelist {
    margin: 0;
    padding: 1px;
    font-size: 12px;
    font-style: italic;
    text-align: center;
}

/* ATTRIBUTES */
.character-sheet-attributes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 5px;
    
    font-family: 'Courier Prime', monospace;
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}
.character-sheet-attributes span {
    font-size: 1.8rem;
    display: block;
}